{% extends "base.html" %}
{% block title %}¡Contáctenos!{% endblock %}
{% block content %}
<p>Si tiene algunas preguntas, puede contactarnos a <a href="mailto:jefferson.shs@gmail.com">jefferson.shs@gmail.com</a> o una patrocinadora de la sociedad.</p>
<div class="panel panel-default">
	<div class="panel-heading">Los Oficiales</div>
	<table class="table">
		<thead>
			<tr>
				<th>Puesto</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Presidenta</td>
				<td>Lily Chaw</td>
			</tr>
			<tr>
				<td>Vicepresidente</td>
				<td>Steven Androphy</td>
			</tr>
			<tr>
				<td>Secretario</td>
				<td>Sriram Iyer</td>
			</tr>
			<tr>
				<td>Tesorero</td>
				<td>Rishab Negi</td>
			</tr>
			<tr>
				<td>Historiadora</td>
				<td>Nur Simsek</td>
			</tr>
			<tr>
				<td>Maestro de la Red</td>
				<td>Siva Somayyajula</td>
			</tr>
			<tr>
				<td>Coordinador de Tutoria</td>
				<td>Joe Gonzales</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Las Patrocinadoras</div>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Sra. Gendive</td>
				<td>MAGendive@fcps.edu</td>
			</tr>
			<tr>
				<td>Sra. Mateo</td>
				<td>NMateo@fcps.edu</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}